/* #index_body{
    display: flex;
} */
#index_main{
    display: flex;
}
#index_nav{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    z-index: 9999;
}
#index_nav ul{
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    width: 100%;
}
#index_nav ul > *{
    flex: 1 1 auto;
}
#index_nav li{
    list-style-type: none;
}
#index_nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: cursive;
}
#main_nav_logo{
    display: flex;
}
#index_left{
    display: flex;
    align-items: center;
}
#index_main > *{
    flex: 1 1 0;
    width: 50vw;
}
#index_left{
    padding: 0 20% 0 20%;
    max-width: 50vw;
}

#hobbies_body{
    overflow: hidden;
}
#hobbies_main{
    position: relative;
    text-align: center;
    color: white;
}
#hobbies_main img{
    z-index: -9999;
    height: 100vh;
    width: 98vw;
}

#hobbies_text_container{
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 9999;
    max-width: 30%;
}
#hobbies_text_container > *{
    color: white;
}
.hobbies_nav{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
#index_body{
    overflow: hidden;
}