/* #index_body{
    display: flex;
} */
#index_main{
    display: flex;
}
#index_nav{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
#index_nav ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#index_nav li{
    list-style-type: none;
}
#index_nav a{
    text-decoration: none;
    color: black;
}
#main_nav_logo{
    display: flex;
}
#index_left{
    display: flex;
    align-items: center;
}
#index_main > *{
    flex: 1 1 0;
    width: 50vw;
}
#index_left{
    padding: 0 20% 0 20%;
    max-width: 50vw;
} 